body {
    background-color:white;
}

.navbar-item {
    margin-right: 25px;
    margin-left: 30px;
    float: right;
    line-height: 60px;
    letter-spacing: 3px;
}

#redirecting{
    display:flex;
    justify-content: center;
}

#re-image {
    display: flex;
    justify-content: center;
}

#re-text {
    font-size: 15pt;
    letter-spacing: 2pt;
    display: flex;
    justify-content: center;
}

.navbar-item:hover {
    text-decoration: underline;
    cursor: pointer;
}